/*Animation*/
@keyframes rolling{
    0%{
       transform: translateY(0);
    }
    25%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(-40%);
    }
    75%{
        transform: translateY(-60%);
    }

    100%{
        transform: translateY(-80%);

    }
}
/*CSS*/
body,h1,h2,h3,p,ul,dl,dd{
    margin: 0;
    padding: 0;
}
li{
  list-style-type: none;  
}
h1,h2{
    font-size: 100%;
    font-weight: normal;
    padding: 1vw;
}
body{
    background-color: black;
    color:lightgray;
}
header .menu{
    float: right;
}

header .menu ul li:last-child{
    /* margin-right */
    margin-right: 10px;
    margin-top: 1.5vw;
}


header .menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition:  all ease 0.5s;
}
header .menu ul li a:hover{
    color:#6D5D39;
}
/*header button*/
header .menu ul li.btn a{
    background-color: #6D5D39;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    /*bordert bottom radius부분 15px*/
    border-bottom-right-radius: 15px;
}
/*클릭시 radius 15px*/
header .menu ul li.btn a:hover{
border-radius: 15px;
border-top-left-radius: 0;
/*bordert bottom radius부분 15px*/
border-bottom-right-radius: 0;
}
/** btn1   Main page*/
header .menu ul li.btn1 a{
    background-color: #6D5D39;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    /*bordert bottom radius부분 15px*/
    border-bottom-right-radius: 15px;
}


.img{
    background-image: url("./image/AboutMe.png");
    background-position: center;
    background-size: cover;
    padding: 0;
}
.profile{
    padding:3.5vw;
}
.timeline{
    /* 전체부모의 요소의  */
    margin: 0 -10px;
}
.timeline li{
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
      font-family: 'Nanum Gothic', sans-serif;
}
/* 짝수 사용*/
.timeline li:nth-child(even) {
margin-left: auto;
margin-top: -120px;
margin-bottom: -120px;
}
.profile-header,
.profile-section{
    padding-bottom:10%;
}
.profile-section h2{
    border-top: 3px solid;
    color: #6D5D39;
    margin-bottom: 20px;
    padding: 0.5em  0;
    /*sticky 효과*/
    position: sticky;
    top: 0;
    background-color: #000;
    box-shadow: 0 0 50px 10px #000;
}
/* section header 부분 font 수정후  20px*/
.section-header{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}
/*Skills header부분 font 수정 20px*/
.skills-header{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}
.contact-header{
      font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}
.name{
    font-size: 41px;
    line-height: 1;
    font-style: italic;
    margin: 40px;
    font-family: fantasy;
 
    /*sticky효과*/
    position: sticky;
    top: -1.8em;
    background-color: #000;
    box-shadow: 0 0 0px 0px #000;
}
.name-p{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}
.icons a{
    display: inline-block;
    padding-top: 0.5vw;
    margin-left: 1vw;
    color: #6D5D39;;
}
/*name-job구분 */
.name-job {
    display: inline-block;
    color: white;
    /*상단기법*/
    vertical-align: top;
    height:1em;
    padding-right: 0.5em;
    overflow: hidden;
    position: relative;
}
.name-job::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: -1em;
    /*inset효과 inset 안쪽그림자 10px 흐리기 10px 진하기 용도  */ 
    box-shadow:inset 0 10px 10px #111;
    
}
.name-job-list{
    animation-name: rolling;
    /*3초*/
    animation-duration: 3s;
    /* animation-iteration-count: infinite;자동재생 */
    animation-iteration-count: infinite;

}
/*font-size 1.5배*/
.name-title{
    font-size: 1.5em;
    line-height: 1;
    color: #6D5D39;
    position: relative;
    top:10px;
}
/*자기소개 부분 */ 
.timeline{
    font-size: 0.8rem;
    color: lightgrey;
}
/*timeline  글쓰는부분 font 16px  */
.timeline-p1,.timeline-p2,.timeline-p3,.timeline-p4,.timeline-p5{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}
/* padding-bottom*/
.timeline li{
    padding-bottom: 5vw;
}
.timeline li:last-child{
    padding-bottom: 0;
}
.timeline li h3{
    color: orange;
    float: left;
    font-size: 0.8rem;
    letter-spacing: 0.2em;
    padding-top: 0.2em;
    margin-right: 0.5em;
    margin-top: 0.3em;
    border-top: 2px solid;
}
.graph li{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: saddlebrown;
    padding: 0.5em;
    margin:  0.4em 0;
    border-radius: 40px;
    font-weight: bolder;
    /*퍼센트 게이지 효과*/
    box-sizing: border-box;
}
/*attr(data-score_)*/
.graph li::before{
    content: attr(data-score);
    float: right;
}
/*퍼센트 게이지 data-score로 설정*/
.graph li[data-score="70%"]{width: 70%;}
.graph li[data-score="60%"]{width: 60%;}
.graph li[data-score="50%"]{width: 50%;}
.graph li[data-score="40%"]{width: 40%;}
.graph li[data-score="40%"]{width: 40%;}

.list dt{
    color: #ffa500;
    float: left;
    /*고정값 제목부분 */
    width: 4em;
}
.list dd{
    /*분리역할 제목부분과*/
    overflow: hidden;
    /* font수정 */
    font-family: 'Laila', sans-serif;
    font-size: 16px;
}
/*media빈응형 수정완료*/
@media( min-width: 800px){
    .img{
        position: fixed;
        left: 0;
        top:0;
        width: 30vw;
        height: 100vh;
    }
    .profile{
        margin-left: 30vw;
    }
   
    
}