*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #222;
}
li{
    list-style-type: none;
}
/*버튼 수정예정*/
.menu ul li.btn a{
    background-color:#9e9e9ead;
    color: #000;
    padding: 15px 5vh;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.text{
 position: relative;
 /*수직방향으로 기울이는 기법 345deg*/
 transform:skewY(345deg) translateY(-190px);
 animation: animateColor 5s linear infinite;
}
.text h2{
    position: relative;
    width: 100%;
    font-size: 6.5em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    /*공백을 채우지만 가로 폭의 오른쪽 끝에서 줄 바꿈을 하지않는다*/ 
    white-space: nowrap;
    text-shadow: calc(var(--x)) 100px 0 rgba(255, 255, 255, 0.1);
    transform: translateX(calc(0% - var(--x)*var(--i)));
}
.text h2 span{
    color: deeppink;
    margin: 0 10px;
}
.text h2 span:nth-child(even){
    /*기본값 */
color:  transparent;
-webkit-text-stroke: 1px #fff;
} 

@keyframes animateColor {
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
/*media부분 수정완료*/
@media( max-width:812px){
    .text{
        margin-top: 54vw;
    }
    .text h2{
        font-size:4.3em;
    }
}