*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image/floor.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}
li{
    list-style: none;
}
    /* last-child 버튼 구간*/
header .menu ul li:last-child{
    margin-top: -23.2vw;
   margin-left:86.5vw;
}

header .menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition:  all ease 0.5s;
}

/*header button*/
header .menu ul li.btn a{
    background-color:#7c635399;
    z-index: 1;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    /*bordert bottom radius부분 15px*/
    border-bottom-right-radius: 15px;
}
/* hover 구간 움직이는  클릭시  */
header .menu ul li.btn a:hover{
 /*클릭시 radius 15px*/
border-radius: 15px;
border-top-left-radius: 0;
/*bordert bottom radius부분 15px*/
border-bottom-right-radius: 0;
}
/* book0 구간  */
.book0{
    position: absolute;
    top:0;
    margin-top: 36px;
    left: 96px;
    width: 300px;
    height: 400px;
    background: #fff;
    transform: rotate(-18.5deg) skewX(10deg);
    box-shadow: -35px 35px 50px rgba(0,0,0, 1);
    transition: 0.5s;
}
.book0:hover
{
    transform: rotate(-16.5deg) skewX(10deg) translate(20px,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book0 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.book0::before{
    content: '';
    width: 30px;
    height: 100%;
    background: #ff9800b5;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.1);
}
.book0::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}
.book0 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book0:hover .cover {
    transform: rotateY(-135deg);
}
 .cover-font{
     position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
/* book1구간  */
.book1{
    position: absolute;
    bottom: 0;
    left: 96px;
    width: 300px;
    height: 400px;
    background: #fff;
    box-shadow: -35px 35px 50px rgba(0,0,0, 1);
    transform: rotate(-16.5deg) skewX(10deg);
    transition: 0.5s;
}
.book1:hover{
    transform: rotate(-16.5deg) skewX(10deg) translate(20px,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book1::before{
    content: '';
    width: 30px;
    height: 100%;
    background: #2196f3d1;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.2);
}
.book1::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}
.book1 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    /**열리는부분 */
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book1 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.book1:hover .cover{
    transform: rotateY(-135deg);
}
.cover-font1{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
/* book2구간  */
.book2{
    position: absolute;
    width: 300px;
    height: 400px;
    background: #fff;
    top: 0;
    box-shadow: -35px 35px 50px rgba(0,0,0, 1);
    transition: 0.5s;
    margin-top: 24px;
   margin-left: -30vw;
   transform: rotate(-15.5deg) skewX(10deg);
}
.book2:hover{
    transform: rotate(-15.5deg) skewX(10deg) translate(20px,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book2::before{
    content: '';
    width: 30px;
    height: 100%;
    background:#fcfcfc;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.2);
}
.book2::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}
.book2 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book2 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.book2:hover .cover{
    transform: rotateY(-135deg);
}
.cover-font2{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
/* book3구간  */
.book3{
    position: absolute;
    bottom: 0;
    margin-left: -30vw;
    width: 300px;
    height: 400px;
    background: #fff;
    box-shadow: -35px 35px 50px rgba(0,0,0, 1);
    transform: rotate(-11.5deg) skewX(10deg);
    transition: 0.5s;
}
.book3:hover{
    transform: rotate(-11.5deg) skewX(10deg) translate(20px,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book3::before{
    content: '';
    width: 30px;
    height: 100%;
    background:#009688c7;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.2);
}

.book3::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}

.book3 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book3 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.book3:hover .cover{
    transform: rotateY(-135deg);
}

.cover-font3{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
/* book4구간  */
.book4{
    position: absolute;
    width: 300px;
    height: 400px;
    background: #fff;
    top: 0;
    box-shadow: -35px 35px 50px rgba(0,0,0, 1);
    transition: 0.5s;
    margin-right: -14vw;
    margin-top: 23px;
   transform: rotate(-14.5deg) skewX(10deg);
}
.book4:hover{
    transform: rotate(-14.5deg) skewX(10deg) translate(20px ,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book4::before{
    content: '';
    width: 30px;
    height: 100%;
    background:#f2ede9eb;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.2);
}
.book4::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}

.book4 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book4 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.book4:hover .cover{
    transform: rotateY(-135deg);
}

.cover-font4{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
/* book5구간  */
.book5{
     position: absolute;
    bottom: 0;
    width: 300px;
    height: 400px;
    margin-right: -14vw;
    background: #fff;
    box-shadow: -35px 35px 50px rgba(0,0,0, 1);
    transform: rotate(-11.5deg) skewX(10deg);
    transition: 0.5s;
}
.book5:hover{
    transform: rotate(-11.5deg) skewX(10deg) translate(20px,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book5::before{
    content: '';
    width: 30px;
    height: 100%;
    background:#605253;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.2);
}
.book5::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}

.book5 .writer{
    position: absolute;
    bottom:5px;
    right: 20px;
    color: #111;
    font-size: 0.6em;
    padding-top: 5px;
    font-weight: 500;
    border-top-left-radius: 1px solid #262626;
}
.book5 .writer i{
    font-weight: 700;
}
.book5 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    /**열리는부분 */
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book5 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.book5:hover .cover{
    transform: rotateY(-135deg);
}

.cover-font5{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
/* book6구간  */
.book6{
    position: absolute;
    width: 300px;
    height: 400px;
    background: #fff;
    top: 17px;
    box-shadow: -35px 35px 50px rgba(0,0,0, 1);
    margin-left: 63vw;
   transform: rotate(-10.5deg) skewX(10deg);
}
.book6:hover{
    transform: rotate(-14.5deg) skewX(10deg) translate(20px ,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book6::before{
    content: '';
    width: 30px;
    height: 100%;
    background:#080403ab;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.2);
}
.book6::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}

.book6 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    /**열리는부분 */
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book6 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.book6:hover .cover{
    transform: rotateY(-135deg);
}

.cover-font6{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
/* book7구간  */
.book7{
    position: absolute;
   bottom: 0;
   width: 300px;
   height: 400px;
  margin-left: 63vw;
   background: #fff;
   box-shadow: -35px 35px 50px rgba(0,0,0, 1);
   transform: rotate(-5.5deg) skewX(10deg);
   transition: 0.5s;
}
.book7:hover{
    transform: rotate(-11.5deg) skewX(10deg) translate(20px,-20px);
    box-shadow: -50px 50px 100px rgba(0,0,0, 1);
}
.book7::before{
    content: '';
    width: 30px;
    height: 100%;
    background:#fffef1e8;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-30px,-15px);
    box-shadow: inset -10px 0 20px rgba(0,0,0, 0.2);
}
.book7::after{
    content: '';
    width: 100%;
    height: 30px;
    background: #ccc;
    position: relative;
    bottom: 0;
    left: 0;
    transform: skewY(-45deg) translate(15px,30px);
}
.book7 .cover{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    /**열리는부분 */
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}
.book7 .cover img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.book7:hover .cover{
    transform: rotateY(-135deg);
}
.cover-font7{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
.cover-font-mark{
    background-color: #8bc34a59;
    border-radius: 5px;
}
/*반응형 웹만들기*/
@media( max-width:812px){
    body{
        /*fixed : 움직이지 않습니다*/
        background-attachment: fixed;
        background-size: cover;
    }
    header .menu ul li:last-child {
        margin-top: -98vw;
        margin-left: 49.5vw
    }
    .book0{
        margin-top: 25vw;
        left: 91vw;
    transform: rotate(-6deg )skewX(1deg);
    }
    .book1{
        bottom: 5vw;
    margin-left:71vw;
    transform: rotate(-4deg)skewX(1deg);
    }
    .book2{
    transform: rotate(-3deg)skewX(1deg);
            margin-left: -2vw;
            top: 34vw;
    }
    .book3{
        transform: rotate( -4deg )skewX( 1deg);
                margin-left: 12vw;
                top: 122vw;
    }
    .book4{
        transform: rotate(  1.5deg) skewX(2deg);
                top: 200vw;
                margin-left: -3vw;
    }

    .book5{
        transform: rotate( 1deg) skewX(1deg);
                bottom: -176vw;
                margin-left: -4vw;
    }
    .book6{
        top: 200vw;
    left:39vw;
    transform: rotate(-1deg ) skewX( 1deg);
    }
    .book7{
        transform: rotate( -1.5deg) skewX(3deg) ;
    bottom: -174vw;
        left:39vw;
    }
}
