body{
    margin: 0;
    padding: 0;
    background:#eae3e3;
    font-family: 'Nanum Gothic', sans-serif;
}
li{
    list-style: none;
}
header .menu{
    float: right;
    margin-top: -6vw;
    transform: translateX(-1vw);
}
header .menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition:  all ease 0.5s;
}
header .menu ul li.btn a{
    background-color:#9e9e9e26;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    /*bordert bottom radius부분 15px*/
    border-bottom-right-radius: 15px;
}
.container{
    max-width: 1000px;
    margin: 130px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    transform-style:preserve-3d;
    transform:perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgb(0,0,0,.5);

}
.card:hover{
    z-index: 1000;
    transform: perspective(2000px) rotate(-5deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}
.card .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}
.card:hover .imgBox{
    transform: rotateY(-135deg);
}
.card .imgBox .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card .details{
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 1.75vw;
    background-size: cover;
}
.details-mark{
    background-color: #8bc34a59;
    border-radius: 5px;
    
}
.details-h2{
    background-color: #ffeb3b3b;
}
/*반응형 수정완료*/
@media( max-width:812px){
    header .menu{
        margin-top: -15vw
    }
}