*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    /*backGround #000 검은색지정   */
    background: #000;
    font-family: 'Open Sans', sans-serif;
}
/*header 부분영역*/
header{
    padding: 40px 50px;
}
header .logo{
    font-size: 1.5vw;
    float: left;
    color:white;
    font-family: 'Playfair Display', serif;
}
/* hover 클릭시  */
header .logo:hover{
    color: #e91e63;
}

header .menu{
    float: right;
}
header .menu ul li{
    display: inline-block;
    margin:  0 20px;
}
header .menu ul li:last-child{
    margin-right: 0;
}

header .menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition:  all ease 0.5s;
}
header .menu ul li a:hover{
    color: #e91e63;
}
/*header button*/
header .menu ul li.btn a{
    background-color: #e91e63;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    /*bordert bottom radius부분 15px*/
    border-bottom-right-radius: 15px;
}
/*클릭시 radius 15px*/
header .menu ul li.btn a:hover{
border-radius: 15px;
border-top-left-radius: 0;
/*bordert bottom radius부분 15px*/
border-bottom-right-radius: 0;
}
/*containetr*/
.home .container{
    max-width: 90vw;
    margin: 0 auto;
}
/*image 부분*/
.home .person{
float: right;
margin: 70px 50px 0;
position: relative;
border-radius: 70px 0 70px 0;
overflow: hidden;
margin-left: 45vw;

}
/*image 필터 밝기모드*/
.home .person img{
    filter: brightness(1);
}
.home .person-overlay{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #9e9e9e63;
    z-index: 99;
}
/*Bae ki won Text*/
.home-text{
    color: white;
    margin-top:220px;
    position: absolute;
    float: left;
}
/** h1 Bae ki won 부분*/
.home-text h1{
    text-transform: uppercase;
    font-size: 68px;
    /* font 수정 */
    font-family: 'Playfair Display', serif;
}
/*h6 student letter-spancing 글자사이간격  */
.home-text h6{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.home-text p{
    max-width: 500px;
    font-size: 16px;
    transform: translateY(22vw);
    /* font 수정 */
    font-family: 'Jua', sans-serif;
    
}
/* margin-right 70px  */
.home-text .name span{
    margin-right: 70px;
    display: inline-block;
}
.home-text .name span:last-child{
    margin-right: 0;
}
/*opacity:0*/
.home .Hand img,.student span,.name span,.logo,.menu li,.small-intro span{
    opacity: 0;
}
/*모바일 웹부분구현완료*/
@media( max-width:812px){
    header .menu ul li{
        margin-top: 3vw;
    }
    
    .home-text p {
        margin-top: 283px;
    }
    .home .person {
        margin-right: -7vw;
    }
    .home-text h1{
        font-size: 0px;
    }
}