body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
*{
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
}


/* wrapper 구간 */
.wrapper{
    max-height: 100vh;
    /** 기본적인 세팅 15px */
    padding: 24.5vh;
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.wrapper .box{
    background-image: url('image/login3.jpg');
    background-position: -160px center;
    background-repeat: repeat-x;
    background-size: cover;
    background-color: #fff;
    flex: 0 0 700px;
    max-width: 700px;
    min-height: 480px;
   box-shadow:  0 0 10px #fff;
   display: flex;
   flex-wrap: wrap;
   position: relative;
   z-index: 1;
   transition: all 0.5s ease-in-out;
}
.wrapper .box.slide-active{
    background-position: 160px center;
}
.wrapper .box::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.4);
}
.wrapper .box .left,
.wrapper .box .right{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /**media*/
    padding: 40px 0;
}
.wrapper .box .left h3,
.wrapper .box .right h3{
    font-size: 20px;
    color: white;
    /* h3 구간 너비 2vw  */
    margin:  0 0 1.5vw;
}
/* 클래스 부분  */
.wrapper .box .left .register-btn ,
.wrapper .box .right .login-btn{
    /*background-color: transparent; 기본값  */
    background-color: transparent;
    /* padding 효과  */
    padding:  5px 35px ;
    /* 기본적인 색깔 deepskyblue */
    color: #ffeb3b;
    border: 1px solid #9e9e9e;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}
.wrapper .box .left .register-btn:focus ,
.wrapper .box .right .login-btn:focus{
    outline: none;

}

/* form 구간  */
.wrapper .box .form{
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 50%;
    right: 0;
    /* 꽉 찬 화면 */
    top: 0;
    /* padding  30px */
    padding: 30px;
    display: flex;
    /** 위에서 아래로 차례로 */
   flex-direction: column;
   /**수평방향*/
   justify-content: center;
   /**slide 효과*/
   transition: all 0.5s ease-in-out;
}
/** slide-active 0.5s*/
.wrapper .box.slide-active .form{
    right: 50%;
}
.wrapper .box .form  h3{
    font-size: 20px;
    color: black;
    margin:  0 0 16px;
}
.wrapper .box .form .form-group{
    margin-bottom: 15px;
}
.wrapper .box .form .form-lost-password,
.wrapper .box .form .form-login,
.wrapper .box .form .form-register{
    transition: all 0.5s ease-in-out;
}
/* input구간 size 크기 지정 */
.wrapper .box .form .form-control{
    width: 100%;
    height: 30px;
 
    font-size: 16px;
    color: #666;
    border: none;
    /** 그림자 효과*/
    border-bottom: 2px solid #bbbbbb;
    padding: 0;
}
.wrapper .box .form .form-control:focus{
    outline: none;
}
.wrapper .box .form label{
    font-size: 16px;
    color: #666;
}
/**button 구간 */
.wrapper .box .form .submit-btn{
  width: 100%;
  height: 30px;
  background-color:#4caf50;
  /**border 없애기*/
  border: none;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.wrapper .box .form .submit-btn:focus{
    outline: none;
}
/** margin-top 20px */
.wrapper .box .form  p{
    margin-top: 10px;
    text-align: center;
}
.wrapper .box .form  h5{
    font-size: 16px;
    color: #607d8ba6;
    margin-bottom: 20px;
    font-weight: normal;
}

.wrapper .box .form p a{
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    color: #795548;
}
.wrapper .box .form .form-hidden{
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
/*media 구현완료*/
@media(max-width:767px){
    .wrapper .box{
        flex: 0 0 2%;
    }

}
@media(max-width:575px){
    .wrapper .box .form{
        width: 100%;
       position: relative;
       right: auto;
       top: auto;
       height: auto;
    }
    .wrapper .box,
    .wrapper .box.slide-active{
        background-position: center;
    }
    .wrapper .box.slide-active .form{
        right: auto;
    }

}
